%card {
    min-width: 300px;
    height: 450px;
    border-radius: 5px;
    margin: 45px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 5px darken(#f4f4f4, 10%);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    cursor: pointer;
}

%colored-header {
    background-size: 150%;
    background-position: left;
    transition: background-position 0.5s ease;
}

%header {
    padding: 25px;
}

.card {
    @extend %card;

    &:hover .regular,
    &:hover .premium,
    &:hover .elite {
        background-position: right;
    }

    &:hover {
        transform: scale(1.1);
        // scale: 1.1;
        box-shadow: 15px 10px 10px darken(#f4f4f4, 10%);
    }

    &-header {
        height: 115px;
        width: 100%;
        border-radius: 10px 10px 0 0; 
        line-height: 45px;
        
    }

    &-content {
        background-color: darken(white, 2%);
        color: lighten(black, 15%);
        width: 100%;
        height: 385px;
        border-radius: 0 0 10px 10px;
        padding: 25px;
        display:flex;
        flex-direction: column;
        justify-content: space-between;

        ul {
            list-style-type: '-';
            list-style-position: inside;
            line-height: 30px;
        }

        li  {            
            span {
                position: relative;
                display: inline-block;
                left: 15px;
                top: 3px;
                font-size: 22px;
                height: 100%;
                line-height:30px;
                font-weight: 300;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
    
    .regular {
        background-image: $blue-gradient;
        background-size: 150%;
        background-position: left;
        transition: background-position 0.3s ease;
    }

    
    .premium {
        background-image: $green-gradient;
        @extend %colored-header;
        
        
    }
    
    .elite {
        background-image: $gold-gradient;
        background-size: 150%;
        background-position: left;
        transition: background-position 0.3s ease;
    }

    &-title {
        // color: #f4f4f4;
        color: rgb(48, 48, 48);
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Slab', serif;
        text-transform: uppercase;
    }

    .price {
        font-weight: 200;
        font-size: 40px;
        // font-family: 'Roboto', sans-serif;
        font-family: 'Roboto Slab', serif;
        align-self: flex-end;
        margin-bottom: 0px;
    }
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 100%;
}
