%card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
    border-radius: 7px;
    width: 200px;
    height: 200px;
    margin: 15px;
    padding:15px;
    transition: all 0.5s ease;
    
    transition: box-shadow 1s;
    background-color: white;
}



.card {
    @extend %card;


    &-regular {
        border: 1px solid gray;

        &:hover {
            background-color: white;
        }

        h2 {
            color: blue;
        }

    }

    &-premium {
        border: 1px solid gray;

        &:hover {
        }

        h2 {
            color: green;
        }
    }

    &-elite {
        border: 1px solid gray;

        &:hover {
        }
        
        h2 {
            color: gold;
        }
    }

    &:hover {
        h2 {
        }
    }

    h2 {
        text-align: center;
        font-size: 30px;
               
    }
}

