@media (max-width: 1000px) {
    .name {
        font-size: 40px;
    }

    .nav-bar {
        li {
            font-size: 20px;
        }
    }
    

    .desc {
        max-width: 100%;

        &-section {
            font-size: 18px;
            line-height: 30px;
        }

        &-div {
            flex-direction: column;
            padding: 5px;
        }
    }
}