@media (max-width: 700px) {
    .pricing {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .name {
        font-size: 40px;
    }

    .nav-bar {
        li {
            font-size: 20px;
        }
    }
}