@font-face {
    font-family: 'Roboto Slab';
    src: url('/assets/fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('/assets/fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('/assets/fonts/RobotoSlab-ExtraLight.woff2') format('woff2'),
        url('/assets/fonts/RobotoSlab-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


$blue: #016a9b;
$green: #0ba53b;
$gold: #d18f00;

$blue-gradient: linear-gradient(45deg, $blue 30%, lighten($blue, 20%) 90%);

$green-gradient: linear-gradient(45deg, $green 30%, lighten($green, 20%) 90%);

$gold-gradient: linear-gradient(45deg, $gold 30%, lighten($gold, 20%) 90%);
